<!DOCTYPE html>
<html>
    <head>
        <!--Define title-->
        <title>List View App</title>
        
        <!--You can load all the css files here -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <style>
          .red {
            color: red;
          }
        </style>
    </head>
    
    <body>
        <!--HTML content goes here-->
         <!-- <ul id="list">
         </ul>
         <input id="input" type="text"></input>
         <button id="button">Insert</button> -->

         <ul id="list-display"></ul>
        <input type="text" id="input-field" placeholder="Enter value to insert">
        <button id="insert-btn">Insert</button>
        
        <!--You can load all the javascript files here-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>
